/* your styles will go here!! */
*{
    margin:0;
    padding:0;
 }
 /* global - stuff on every page */
 body {
    background: url(crochetbg.jpg);
    background-size: cover;
    background-attachment:fixed;
 }
 /*header*/
 #logo {
    background: transparent;
    display: flex;
     align-items: flex-end;
 }
 
 header img{
    width: 74px ;
 }
 header h1{
     color: #FDF2ED;
     font-family: Jomhuria;
     font-size: 64px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     padding-left: 8px;
 }
 header {
     display:flex;
     justify-content:space-between;
     align-items: center;
     background-color: #C2714F;
     height: 120px;
 }
 /*nav*/
 nav a {
    color: #FDF2ED;
    font-family: Outfit;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
    margin-right:40px;
 }
 /*body stuff*/
 div{
    background-color: #4A2040;
 }
 h2{
    font-family: Jomhuria;
    font-style: normal;
    font-weight: 400;
    font-size: 152px;
    color: #FDF2ED;
 }
 main p{
    font-family: Outfit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    color: #FDF2ED;
 }
 ul{
    font-family: Outfit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    color: #FDF2ED;
 }
 li{
    list-style-type: square;
    display: list-item;
 }
 .intro{
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    color: #FDF2ED
 }
 main a{
    font-family: Outfit;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    color:#F6C5AF;
 }
 iframe{
    margin: 100px;
 }
 /*footer*/
 footer{
    background-color: #C2714F;
    padding: 5px;
    color:#FDF2ED;
    font-family: Outfit;
    font-size: 12px;
    text-align: center;
 }
 .home footer{
    background-color: #4A2040;
    padding: 5px;
    color:#FDF2ED;
    font-family: Outfit;
    font-size: 12px;
    text-align: center;
  }
 /* home */
 .home main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 136px);
 }
  .home main img {
     max-width: 377px;
     width: 30%;
     border-radius: 700px;
     border: 9px solid #4A2040;
     display: inline-block;
     z-index: 2;
     position: absolute;
     left: 80%;
  }
  
  .home main h1 {
     color: #4A2040;
     font-family: Jomhuria;
     font-size: 152px;
     font-style: normal;
     font-weight: 400;
     max-width: 606px;
     width: 50%;
     line-height: .5;
  }
  .home main h2 {
     color: #4A2040;
     font-family: Outfit;
     font-size: 40px;
     font-style: normal;
     font-weight: 400;
     line-height: .5;
     max-width: 523px;
     height: 52px;
  }
  .home main div {
     background-color: #F6C5AF;
     display: flex;
     border-radius: 50px;
     z-index: 1;
     flex-direction: column;
     padding: 55px 90px;
     align-self: center;
 
  }
  .home section{
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
  }
  /* stitches */
 .stitches main h1 { 
    color: #4A2040;
    font-family: Jomhuria;
    font-size: 250px;
    font-style: normal;
    font-weight: 400;
}
 
 
 .stitches p {
    color:#FDF2ED;
    font-family: Outfit;
    font-weight: 400;
    font-size: 24px;
 }

 div h2{
    color: #FDF2ED;
    font-family: Jomhuria;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
 }
 
 /*supplies*/
 .supplies main h1 { 
    color: #4A2040;
    font-family: Jomhuria;
    font-size: 250px;
    font-style: normal;
    font-weight: 400;
 }
 /*patterns*/
 .patterns main h1 { 
    color: #4A2040;
    font-family: Jomhuria;
    font-size: 250px;
    font-style: normal;
    font-weight: 400;
 }
 /*media queries*/
 @media (min-width:640px){
    nav a{
       font-size: 28px;
       font-weight: 400;
       display:inline-block
    }
    nav a:hover, nav a:focus{
       color:#F6C5AF;
       text-decoration:underline;
    }
    main a{
       font-size: 30px;
       font-weight: 400;
    }
    main a:hover, main a:focus{
       color: #FDF2ED;
       text-decoration:none;
    }
 }