<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'patterns | hooked.' %}
<body>
{% include 'header' %}
    <main class="patterns">
        <h1>patterns.</h1>
        <div class="purple">
        <p class="intro">   Patterns are tutorials (written or filmed) that you can follow to create crochet projects. There is a huge variety of both free and paid patterns available online. Here are some resources to help find the patterns you’re looking for:</p>
            <h2><a href="https://www.pinterest.com" target="_blank">pinterest</a></h2>
            <img class="patterns" alt="a pinterest board of crochet ideas" src="/assets/pinterest-ss.png"/>
                <ul>
                    <li>easily search for any type of pattern</li>
                    <li>compiles pattern links from around the internet into one place (with pictures!)</li>
                    <li>allows you to save interesting patterns for later use</li>
                </ul>
            <h2><a href="https://www.youtube.com" target="_blank">youtube</a></h2>
            <img class="patterns" alt="youtube search results for beginner crochet patterns" src="/assets/youtube-ss.png"/>
            <ul>
                <li>great resource for free video patterns</li>
                <li>useful for visual learners and beginners alike</li>
                <li>some creators post pattern lists you can use to find even more tutorials across the internet</li>
            </ul>
            <h2><a href="https://www.ravelry.com/patterns/crochet" target="_blank">ravelry</a></h2>
            <img class="patterns" alt="beginner crochet patterns on ravelry" src="/assets/ravelry-ss.png"/>
            <ul>
                <li>largest crochet and knit database</li>
                <li>free and paid patterns made by other site users</li>
                <li>free account needed to access content</li>
            </ul>
            <h2><a href="https://www.yarnspirations.com/collections/patterns?filter.p.m.global.skill_type=Crochet" target="_blank">yarn brands</a></h2>
            <img class="patterns" alt="patterns from yarnspirations.com" src="/assets/yarnbrand-ss.png"/>
            <ul>
                <li>includes sites on “supplies” tab - <a href="https://www.yarnspirations.com/" target="blank">yarnspirations</a>, <a href="https://hobbii.com/" target="_blank">hobbii</a>, <a href="https://www.lovecrafts.com/en-us" target="_blank">lovecrafts</a></li>
                <li>free and paid patterns available</li>
                <li>sometimes include option to buy the needed yarn straight from pattern page</li>
            </ul>
            <h2><a href="https://www.etsy.com/" target="_blank">etsy</a></h2>
            <img class="patterns" alt="crochet patterns on etsy" src="/assets/etsy-ss.png"/>
            <ul>
                <li>paid patterns only </li>
                <li>many unique and complex patterns available</li>
                <li>always be sure you’re buying the pattern and not a finished piece (and vice versa)</li>
            </ul>
        </div>
    </main>
  {% include 'footer' %}
  </body>
  </html>