<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'stitches: hooked.' %}
<body class="stitches">
    {% include 'header' %}
    <main class="stitches">
            <h1>stitches.</h1>
          <div class="stitches">
            <p class="intro"> Crochet stitches vary in height and can change the feel of your final project. Here are some of the most important ones to know (in US terms):</p>
              <h2>chain stitch (ch)</h2>
                <ul>
                  <li>foundation for most projects</li>
                  <li>creates initial spaces for stitches</li>
                  <li>used to create openings in a piece</li>
                  <li>maintains straight edges when turning</li>
                </ul>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/GjoVWbYhWuc?si=XZycOYCLoHRFKCoV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
              
              <h2>slip stitch (sl st)</h2>
                <ul>
                  <li>shortest stitch </li>
                  <li>technique similar to chaining</li>
                  <li>used to connect stitches  and create seams</li>
                  <li>secures yarn when fastening off</li>
                </ul>  
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/AFk-fdAowbY?si=6bfnRgKH4W5_e8iK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


              <h2>single crochet (sc)</h2>
                <ul>
                  <li>height - 1 chain tall</li>
                  <li>most basic crochet stitch</li>
                  <li>creates sturdy fabric with small gaps</li>
                  <li>good for bags, baskets, plushies</li>
                </ul>  
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/wgVOkQcf5qw?si=AwYoOed218hSO83d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


              <h2>half double crochet (hdc)</h2>
                <ul>
                  <li>height - 2 chains tall</li>
                  <li>uses another loop to add height</li>
                  <li>creates looser fabric with larger gaps</li>
                  <li>good for projects that need some stretch</li>
                </ul>  
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/QnOYlwGN5cI?si=zuFJRxZBUejrlTmJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


              <h2>double crochet (dc)</h2>
                <ul>
                  <li>height - 3 chains tall</li>
                  <li>one of the taller stitches that is frequently used</li>
                  <li>creates an open fabric with large gaps</li>
                  <li>good for granny squares, filet crochet, and large projects</li>
                </ul>  
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/5xKssKskNzo?si=ZfMI0lzBgsAdC4xn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


              <h2>treble/triple crochet (tc)</h2>
                <ul>
                  <li>height - 4 chains tall</li>
                  <li>tallest stitch that is frequently used</li>
                  <li>creates a fabric with very large gaps</li>
                  <li>good for creating interesting patterns and mesh fabrics</li>
                </ul>  
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/RH3u-wIOuJg?si=eSL1EGVnmy2qP3-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


            <h2>magic ring (mr)</h2>
                <ul>
                  <li>used to start projects in circular rows</li>
                  <li>allows stitches to be cinched tight or otherwise adjusted</li>
                  <li>good for plushies, granny squares, and baskets</li>
                </ul>  
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gEq48ABHRZo?si=vALv2tuKyuUIjhhD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </main>
    {% include 'footer' %}
</body>
</html>
