<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'stitches: hooked.' %}
<body>
{% include 'header' %}
<main class="supplies">
    <h1>supplies.</h1>
  <div>
    <p class="intro"> Other than scissors, the only supplies you need to begin crocheting are yarn and a hook. However, both of these things come in many varieties that can be overwhelming at first. Here are some factors to consider when buying:</p>
       <h2>hook size</h2>
         <p>  Hooks range in size based on their diameter in millimeters (mm). This will affect the tightness of your piece - a smaller hook will create smaller, tighter stitches than a larger one. You can vary the size of your project very easily in this way. Most skeins of yarn have a recommended hook size in an icon like this:</p>
       <h2>yarn weight</h2>
         <p>  Yarn also comes in multiple sizes (known as “weights”). In general, a thin yarn will require a small hook and a thicker yarn will require a large one. Using a thin yarn creates a finer fabric with many small stitches, but it will take a longer time to complete the project. On the other hand, using  thick yarn creates a chunkier fabric that works up quickly. A medium yarn (weight 4) is often the best choice for beginners, allowing you to clearly see and work with your stitches.
            The weight is usually listed on the skein in an icon like this:</p>

       <h2>yarn fiber</h2>
         <p>The material of your yarn is another important consideration to make. Here are 3 commonly used types:</p>
           <ul>
             <li>Acrylic yarn is the most abundant and affordable option, coming in many colors and textures. It will not shrink in the wash, but it will melt under high temperatures as the fibers are made of plastic. Don’t use it to make potholders!</li>
             <li>Cotton yarn is heat resistant and more eco-friendly than acrylic. It also dries far more quickly, making it ideal for breathable clothing or washcloths. However, it is usually more expensive and comes in smaller skeins and fewer colors. </li>
             <li>Wool yarn is another sustainable fiber excellent for creating items to keep you warm and dry. It’s durable and will last for a long time with proper care. Unfortunately, it is prone to shrinking in the dryer, and can be itchy and uncomfortable on sensitive skin. </li>
           </ul>
          <p>Make sure you know what your yarn is made of by checking the label. It should be listed near the other icons like so:</p>
       
       <h2>other tools</h2>
        <p>While yarn and a hook are enough to get started, there are other tools that can be helpful, though not always necessary. Here are a few you may consider:</p>
           <ul>
              <li>Yarn needles are used to weave loose ends into the project, preventing it from unraveling. They are also useful for joining pieces together or adding sewn details. This is certainly a must-have for any level of crochet.</li>
              <li>Stitch markers can help keep your place in projects that require counting stitches or working in the round. They can also keep your project from unraveling while you’re not working on it. Stitch markers come in many colors and materials, but safety pins work as an affordable alternative.</li>
              <li>Blocking boards are used to shape a finished piece before it is used. This technique is not necessary for every project, especially not for beginner patterns like hats and scarves. If you are interested in creating larger wearable pieces or making many pieces of a consistent size, you might consider buying these.</li>
              <li>Yarn winders make it quick and easy to turn skeins of yarn into usable cakes. You can also use these to undo (or “frog”) rows of a project quickly and neatly. This is more of a convenience than anything, as you can easily do both of these by hand.</li>
           </ul>

       <h2>resources</h2>
          <p>These items can usually be found in craft stores like <a href="https://www.michaels.com/" target="_blank">Michael’s</a> or <a href="https://www.joann.com/" target="_blank">Joann’s</a>.  If there are no such locations in your area, here are a few online sources you can order supplies from:</p>
            <ul>
               <li><a href="https://www.yarnspirations.com/" target="_blank">yarnspirations</a></li>
               <li><a href="https://hobbii.com/" target="_blank">hobbii</a></li>
               <li><a href="https://www.lovecrafts.com/en-us" target="_blank">lovecrafts</a></li>
            </ul>
          <p>Keep in mind that yarn can sometimes be found in secondhand stores, often for a much lower price point. You  can also unravel a thrifted sweater and recycle that yarn for a project. Remember that you don’t have to spend a ton of money on this hobby if you don’t want to!</p>
</div>
</main>
{% include 'footer' %}
</body>
</html>